.project {
    width: 450px;
    height: 285px;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    overflow: hidden; 
}

.project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: 0;
    background: #000000;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.6s ease;
}

@media (max-width: 767.98px) {
    .project .overlay {
        opacity: .2;
    }
}

.project .text {
    max-width: 80%;
    z-index: 1;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project .text h3 {
    font-size: 20px;
    font-weight: 600;
}

.project .text h3 a {
    color: #fff;
}

.project .text span {
    color: #b1b493;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

@media (max-width: 767.98px) {
    .project .text {
        opacity: 1;
    }

    .project .text span {
        color: rgba(255, 255, 255, 0.8);
    }
}

.project:hover .overlay,
.project:focus .overlay {
    opacity: .4;
}

.project:hover .text,
.project:focus .text {
    opacity: 1;
}


.ftco-section {
    padding: 7em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.ftco-bg-dark {
    background: #3c312e;
}

.ftco-footer {
    font-size: 16px;
    background: #232931;
    padding: 7em 0;
    z-index: 0;
}

.ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 600;
}

.ftco-footer .ftco-footer-widget ul li {
    margin-bottom: 10px;
}

.ftco-footer .ftco-footer-widget ul li a {
    color: rgba(255, 255, 255, 0.6);
}

.ftco-footer .ftco-footer-widget ul li a span {
    color: rgba(255, 255, 255, 0.6);
}

.ftco-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer a:hover {
    color: #fff;
}

.ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: #fff;
}

.footer-small-nav>li {
    display: inline-block;
}

.footer-small-nav>li a {
    margin: 0 10px 10px 0;
}

.footer-small-nav>li a:hover,
.footer-small-nav>li a:focus {
    color: #b1b493;
}

.media .ftco-icon {
    width: 100px;
}

.media .ftco-icon span {
    color: #b1b493;
}

#map {
    width: 100%;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(177, 180, 147, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0.4);
        -webkit-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0.4);
        box-shadow: 0 0 0 0 rgba(177, 180, 147, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(177, 180, 147, 0);
        -webkit-box-shadow: 0 0 0 30px rgba(177, 180, 147, 0);
        box-shadow: 0 0 0 30px rgba(177, 180, 147, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(177, 180, 147, 0);
        box-shadow: 0 0 0 0 rgba(177, 180, 147, 0);
    }
}

.heading-section .subheading {
    font-size: 13px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    color: #b1b493;
    letter-spacing: 3px;
}

.heading-section h2 {
    font-size: 40px;
    font-weight: 600;
}

.heading-section h2 span {
    font-weight: 400;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.9) !important;
}

.heading-section.heading-section-white h2 {
    color: #fff;
}

.heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
}

.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

#section-counter {
    position: relative;
    z-index: 0;
}

.ftco-counter {
    overflow-x: hidden;
    position: relative;
    padding: 5em 0;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .block-18 {
    display: block;
    width: 100%;
}

@media (max-width: 991.98px) {
    .ftco-counter .block-18 {
        margin-bottom: 2em;
    }
}

.ftco-counter .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #b1b493;
    position: relative;
}

.ftco-counter .icon span {
    font-size: 40px;
    color: #fff;
}

.ftco-counter .text {
    width: calc(100% - 60px);
    position: relative;
    padding-left: 15px;
}

@media (max-width: 767.98px) {
    .ftco-counter .text {
        width: 100%;
    }
}

.ftco-counter .text .number {
    line-height: 1;
    font-weight: 700;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    margin-bottom: 4px;
}

.ftco-counter .text span {
    font-weight: 600;
    font-size: 15px;
    color: #b1b493;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px;
    }
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
}

.blog-entry {
    position: relative;
}

@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

.blog-entry .text {
    width: 100%;
    margin: 0 auto;
}

.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 500;
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
    color: #b1b493;
}

.blog-entry .meta {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.blog-entry .meta span {
    color: #b1b493;
}

.blog-entry .meta a {
    color: #b1b493;
}

.blog-entry .meta a:hover {
    color: #b1b493;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li,
.block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
}

.block-23 ul li .icon,
.block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
}

.contact-section .img {
    width: 100%;
    background-position: top center;
}

.contact-section .contact-info p a {
    color: #fff;
}

.contact-section .contact-form {
    width: 100%;
    border-radius: 5px;
}

@media (max-width: 767.98px) {
    .contact-section .contact-form .btn-primary {
        display: block;
        width: 100%;
    }
}

.contact-section .contact-form .form-control {
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.contact-section .contact-form .form-control {
    height: 36px;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #b1b493;
}

.contact-section .contact-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.5) !important;
}

.contact-section .contact-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.5) !important;
}

.contact-section .contact-form .form-control:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(0, 0, 0, 0.5) !important;
}

.contact-section .contact-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.5) !important;
}

.contact-section .contact-form .form-control:focus,
.contact-section .contact-form .form-control:active {
    border-color: #b1b493 !important;
}

.contact-section .contact-form textarea.form-control {
    height: inherit !important;
}

.dbox {
    width: 100%;
    margin-bottom: 0px;
}

@media (max-width: 767.98px) {
    .dbox {
        margin-bottom: 25px !important;
        padding: 0 20px;
    }
}

.dbox p {
    margin-bottom: 0;
}

.dbox p span {
    font-weight: 500;
    color: #000000;
}

.dbox p a {
    color: #b1b493;
}

.dbox .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #b1b493;
    margin: 0 auto;
    margin-bottom: 20px;
}

.dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.dbox .text {
    width: calc(100% - 50px);
    padding-left: 15px;
}

.dbox .text span {
    display: block;
    line-height: 1.2;
}

#map {
    width: 100%;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}

.block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.block-21 .text {
    width: calc(100% - 100px);
}

.block-21 .text .heading {
    font-size: 18px;
    font-weight: 500;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
    color: #b1b493;
}

.block-21 .text .meta>div {
    display: inline-block;
    margin-right: 5px;
}

.block-21 .text .meta>div a {
    color: #b3b3b3;
}

/* Blog*/
.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
}

.post-info>div {
    display: inline-block;
}

.post-info>div .seperator {
    display: inline-block;
    margin: 0 10px;
    opacity: .5;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px;
}

.tagcloud a:hover {
    border: 1px solid #000;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    font-weight: 500;
    color: #b1b493;
    display: block;
    margin-bottom: 10px;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #b1b493;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1em;
    font-weight: 400;
    border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
    color: #fff;
    background: black;
}

.search-form {
    background: #f2f2f2;
    padding: 10px;
}

.search-form .form-group {
    position: relative;
    margin-bottom: 0;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar-box {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;
}

.sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar-box .heading-sidebar {
    font-weight: 500;
    margin-bottom: 20px;
}

.categories,
.sidelink {
    padding: 0;
    margin: 0;
}

.categories li,
.sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a,
.sidelink li a {
    display: block;
    color: #1a1a1a;
}

.categories li a span,
.sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
    color: #000000;
    font-style: italic;
}

#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}